games/WOLF3D.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<!-- ============================================ -->
	<!-- Root Element: Game                           -->
	<!-- ============================================ -->

	<xs:element name="Game">
		<xs:annotation>
			<xs:documentation>
				Root element for Wolfenstein 3D game definition.
				Defines all game assets, levels, and configuration.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="VgaGraph" minOccurs="0"/>
				<xs:element ref="Maps" minOccurs="0"/>
				<xs:element ref="Audio" minOccurs="0"/>
				<xs:element ref="VSwap" minOccurs="0"/>
				<xs:element ref="Palettes" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Game version string (e.g., "1.4"). Informational metadata identifying
						the specific release of the game this definition targets.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Extension" type="xs:string"/>
			<xs:attribute name="Exe" type="xs:string"/>
			<xs:attribute name="HighScores" type="xs:string"/>
			<xs:attribute name="Path" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- VgaGraph Section                             -->
	<!-- ============================================ -->

	<xs:element name="VgaGraph">
		<xs:annotation>
			<xs:documentation>
				Graphics assets from VGAGRAPH/VGADICT/VGAHEAD files.
				Contains fonts, pictures, status bar, and menu definitions.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Fonts" minOccurs="0"/>
				<xs:element ref="Pics" minOccurs="0"/>
				<xs:element ref="StatusBar" minOccurs="0"/>
				<xs:element ref="Menus" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="VgaDict" type="xs:string" use="required"/>
			<xs:attribute name="VgaGraph" type="xs:string" use="required"/>
			<xs:attribute name="VgaHead" type="xs:string" use="required"/>
			<xs:attribute name="LoadingPic" type="xs:string"/>
			<xs:attribute name="Sizes" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						File chunk number containing the sizes array (width/height pairs for all Pics).
						Typically 0.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Font">
		<xs:annotation>
			<xs:documentation>
				Font definition. Fonts can be either:
				1. Regular VgaGraph fonts (no Prefix attribute) - loaded from file chunks
				2. Prefix-based fonts (with Prefix attribute) - built from VgaGraph Pics

				CONSTRAINT (XOR): exactly one of Number or Prefix must be present.
				XSD 1.0 cannot enforce this; it is a logical requirement enforced by the program.

				For REGULAR fonts (Number present, no Prefix):
				- Number is the index into VgaGraph.Fonts[] (chunk-based font array)
				- Font data is loaded from file chunk (StartFont + Number)
				- Example: Font Number="0" loads from file chunk StartFont+0

				For PREFIX-BASED fonts (Prefix present, no Number):
				- Font is synthesized from VgaGraph Pics whose names start with the Prefix
				- Each Pic must have a Character attribute mapping it to a character
				- Height, SpaceWidth, SpaceColor attributes configure the font metrics
				- Example: Font Prefix="L_" builds from pics L_APIC, L_BPIC, etc.
				- Prefix-based fonts are a Godot UI abstraction; they have no equivalent
				  in the original Wolfenstein 3-D engine.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:unsignedShort">
				<xs:annotation>
					<xs:documentation>
						Index into VgaGraph.Fonts[] (chunk-based fonts only).
						Required when Prefix is absent; must be absent when Prefix is present.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Prefix" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Pic name prefix for building prefix-based fonts (e.g., "L_" matches L_APIC, L_BPIC).
						Required when Number is absent; must be absent when Number is present.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						Font name for lookup/reference (e.g., "SMALL", "BIG", "L").
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Height" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Font height in pixels. Required for prefix-based fonts, ignored for regular fonts.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SpaceWidth" type="xs:unsignedShort">
				<xs:annotation>
					<xs:documentation>
						Optional: Width of space character in pixels (prefix-based fonts only).
						Use when the font doesn't include a Pic with Character=" ".
						If specified with SpaceColor, a textured space glyph will be created.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SpaceColor" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Optional: Color index (0-255) from the default palette (index 0) for space character color (prefix-based fonts only).
						Use when the font doesn't include a Pic with Character=" ".
						Creates a solid-color textured glyph for the space character required for Godot UI.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Fonts">
		<xs:annotation>
			<xs:documentation>
				Wrapper for all Font elements inside VgaGraph.
				Required by xs:all, which does not allow maxOccurs="unbounded" on direct children.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Font" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Start" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						First file chunk containing Font data (typically 1, after the sizes chunk).
						The number of chunk-based fonts is computed as (Pics/@Start - Fonts/@Start).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pics">
		<xs:annotation>
			<xs:documentation>
				Wrapper for all Pic elements inside VgaGraph.
				Required by xs:all, which does not allow maxOccurs="unbounded" on direct children.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pic" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Start" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						First file chunk containing Pic data (typically 3, after sizes and fonts).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pic">
		<xs:annotation>
			<xs:documentation>
				VgaGraph picture/graphic definition. Pics are UI graphics, menu elements,
				status bar components, and other 2D images.

				Pics are loaded sequentially from file chunks starting at StartPic.
				Pic Number="0" loads from chunk (StartPic+0), Number="1" from (StartPic+1), etc.

				Each Pic has corresponding size data in the sizes array at Sizes[Number].
				The width and height are stored as a pair: [width, height].

				Character attribute is used for prefix-based fonts - when a Pic is part
				of a font (name matches font's Prefix), this maps it to a character.

				Palette attribute (optional, not shown) can override the default palette.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:unsignedShort" use="required">
				<xs:annotation>
					<xs:documentation>
						Index into VgaGraph.Pics[] array. Pic data loaded from chunk (StartPic + Number).
						Constrained to ushort range (0-65535) for idiomatic C# array indexing.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						Pic name for lookup (e.g., "TITLEPIC", "L_APIC"). Stored in VgaGraph.PicsByName dictionary.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Character" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Character mapping for prefix-based fonts. Single character this Pic represents
						when used in a font (e.g., Character="A" for L_APIC in the "L_" font).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Palette" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Optional palette index override. If omitted, uses default palette (index 0).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="StatusBar">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Number"/>
				<xs:element ref="Face"/>
				<xs:element ref="Weapons"/>
				<xs:element name="OnDeath" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Lua script executed when the player dies (health reaches 0).
							WL_GAME.C:Died() — decrements lives, resets inventory, restarts level or game over.
							Return "restart" to restart the current level, or "gameover" to return to menu.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attribute name="Pic" type="xs:string"/>
			<xs:attribute name="Font" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Number">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Digits" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Init" type="xs:integer"/>
			<xs:attribute name="Max" type="xs:integer"/>
			<xs:attribute name="Have" type="xs:string"/>
			<xs:attribute name="Empty" type="xs:string"/>
			<xs:attribute name="LevelReset" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Face">
		<xs:complexType>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Weapons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Weapon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Weapon">
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Pic" type="xs:string"/>
			<xs:attribute name="Init" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Menus">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="EndString" type="xs:string"/>
				<xs:element ref="MenuFunction"/>
				<xs:element ref="Menu"/>
			</xs:choice>
			<xs:attribute name="Start" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the initial/starting menu</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Music" type="xs:string">
				<xs:annotation>
					<xs:documentation>Default background music for all menus (e.g., "WONDERIN_MUS")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CursorMoveSound" type="xs:string">
				<xs:annotation>
					<xs:documentation>Default sound when cursor moves to different menu item (e.g., "MOVEGUN2SND")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CursorPic" type="xs:string">
				<xs:annotation>
					<xs:documentation>Default cursor picture for all menus (e.g., "C_CURSOR1PIC")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Pause" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Name of the menu to show when the player pauses during gameplay (e.g., "Main").
						Replaces the hardcoded call to US_ControlPanel in WL_MENU.C:CheckPause.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TextColor" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for normal (unselected) menu item text.
						WL_MENU.H:TEXTCOLOR. Used in WL_MENU.C:color_norml[] and DrawMenu.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Highlight" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for the selected/highlighted menu item text.
						WL_MENU.H:HIGHLIGHT. Used in WL_MENU.C:color_hlite[] and DrawMenu.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BordColor" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for the screen background stripe drawn behind menus.
						WL_MENU.H:BORDCOLOR. Used in WL_MENU.C:ClearMScreen via DrawStripes.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BkgdColor" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for the menu box fill color (wcolor parameter of DrawWindow).
						WL_MENU.H:BKGDCOLOR. Used in WL_MENU.C:DrawWindow and as SETFONTCOLOR background.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Deactive" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for inactive/disabled menu items and the top-left bevel of box borders.
						WL_MENU.H:DEACTIVE. Used in WL_MENU.C:color_norml[0], color_hlite[0],
						and DrawWindow via DrawOutline (color2 = top and left edges).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Bord2Color" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for the bottom-right bevel of box borders.
						WL_MENU.H:BORD2COLOR. Used in WL_MENU.C:DrawWindow via DrawOutline
						(color1 = bottom and right edges).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ModalColor" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for the modal confirmation dialog box fill.
						WL_MENU.C:Confirm passes TEXTCOLOR as the wcolor to DrawWindow.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ModalTextColor" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for text rendered inside the modal confirmation dialog.
						No direct original constant; WL_MENU.C:Confirm uses SETFONTCOLOR implicitly.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ModalHighlight" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for the top-left bevel of the modal dialog border.
						WL_MENU.C:Confirm calls DrawOutline with HIGHLIGHT as color2 (top and left edges).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ModalBord2Color" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Palette index for the bottom-right bevel of the modal dialog border.
						WL_MENU.C:Confirm calls DrawOutline with hardcoded 0 (black) as color1 (bottom and right edges).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Font" type="xs:string">
				<xs:annotation>
					<xs:documentation>Default font for all menus (e.g., "BIG", "SMALL"). Individual menus can override this.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Spacing" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Default vertical spacing between menu items in pixels (original uses 13). Individual menus can override this.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Menu">
		<xs:annotation>
			<xs:documentation>
				Menu definition for a single menu screen.
				Contains display layout, styling, and menu items.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Box"/>
				<xs:element ref="Picture"/>
				<xs:element ref="Text"/>
				<xs:element ref="Ticker"/>
				<xs:element ref="Pause"/>
				<xs:element ref="MenuItem"/>
				<xs:element name="OnSelectionChanged" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							Lua script to execute when menu selection changes (including initial menu construction).
							Similar to original Wolf3D's DrawNewGameDiff callback in HandleMenu (WL_MENU.C:1518).
							The script can call GetSelectedIndex() to query current selection and SetPicture() to update pictures dynamically.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OnShow" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							Lua script to execute once when the menu first appears.
							Used by intermission screen to set up initial values, calculate bonuses, and start tickers.
							Not re-executed on refresh or selection change.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attribute name="Name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Unique identifier for this menu (e.g., "Main", "Episodes")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Background" type="xs:string">
				<xs:annotation>
					<xs:documentation>Background image name from VgaGraph (e.g., "C_OPTIONSPIC", "TITLEPIC")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BackgroundX" type="xs:integer">
				<xs:annotation>
					<xs:documentation>X coordinate for background image (default: 0)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BackgroundY" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Y coordinate for background image (default: 0)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BordColor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Background color index (VGA palette 0-255). WL_MENU.H:BORDCOLOR = 0x29</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TextColor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Normal (unselected) menu item text color. WL_MENU.H:TEXTCOLOR = 0x17</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Highlight" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Selected menu item text color. WL_MENU.H:HIGHLIGHT = 0x13</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Font" type="xs:string">
				<xs:annotation>
					<xs:documentation>Font name to use for this menu (e.g., "BIG", "SMALL")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Music" type="xs:string">
				<xs:annotation>
					<xs:documentation>Music track name to play while in this menu</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CursorMoveSound" type="xs:string">
				<xs:annotation>
					<xs:documentation>Sound to play when cursor moves to different menu item (overrides default from Menus element)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="X" type="xs:integer">
				<xs:annotation>
					<xs:documentation>X coordinate for menu items (matches original CP_iteminfo.x)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Y" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Y coordinate for first menu item (matches original CP_iteminfo.y)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Indent" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Horizontal indent for menu text (matches original CP_iteminfo.indent)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Spacing" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Vertical spacing between menu items in pixels (original uses 13)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CursorPic" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the cursor picture from VgaGraph (e.g., "C_CURSOR1PIC"). If not specified, no cursor will be rendered.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Image">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="X" type="xs:string"/>
			<xs:attribute name="Y" type="xs:string"/>
			<xs:attribute name="XBanner" type="xs:integer"/>
			<xs:attribute name="Action" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="PixelRect">
		<xs:complexType>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Width" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Height" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Color" type="xs:string"/>
			<xs:attribute name="BordColor" type="xs:string"/>
			<xs:attribute name="Bord2Color" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="MenuItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MenuItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="StartX" type="xs:nonNegativeInteger"/>
			<xs:attribute name="StartY" type="xs:nonNegativeInteger"/>
			<xs:attribute name="PaddingX" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="MenuItem">
		<xs:annotation>
			<xs:documentation>
				Menu item with inline Lua script.
				The element content contains the Lua code to execute when selected.
				Executed via DoString (not pre-cached as bytecode).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Text" type="xs:string">
						<xs:annotation>
							<xs:documentation>Display text for this menu item</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="InGame" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Legacy condition attribute (use Condition instead)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Condition" type="xs:string">
						<xs:annotation>
							<xs:documentation>Optional Lua expression for visibility/enabled state</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ExtraSpacing" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								Extra pixels added above this menu item, pushing it and all subsequent items downward.
								Used to simulate gaps where the original Wolf3D Sound menu had empty/spacer entries
								that were hardcoded in CP_itemtype arrays (WL_MENU.C:SndItems, SndMenu).
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Box">
		<xs:annotation>
			<xs:documentation>
				3D beveled box in a menu (WL_MENU.C:DrawWindow).
				Draws a filled box with a 3D outline effect.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="X" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>X coordinate for box</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Y" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>Y coordinate for box</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="W" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>Width of box</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="H" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>Height of box</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BkgdColor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Background color index for box fill. WL_MENU.H:BKGDCOLOR = 0x2d</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Deactive" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Top/left border color. WL_MENU.H:DEACTIVE = 0x2b</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Bord2Color" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Bottom/right border color. WL_MENU.H:BORD2COLOR = 0x23</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Picture">
		<xs:annotation>
			<xs:documentation>
				Picture in a menu (e.g., logos, title graphics).
				Element content is optional inline Lua script to execute when the picture is clicked.
				If no script is provided, the picture is purely decorative (not clickable).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Name of the VgaGraph image (e.g., "C_MOUSELBACKPIC")</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="X" type="xs:integer" use="required">
						<xs:annotation>
							<xs:documentation>X coordinate for picture placement</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Y" type="xs:integer" use="required">
						<xs:annotation>
							<xs:documentation>Y coordinate for picture placement</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Stripes" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>If true, renders the leftmost column of pixels stretched horizontally across the screen before rendering the normal picture. Used for decorative stripe backgrounds.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ZIndex" type="xs:integer">
						<xs:annotation>
							<xs:documentation>Z-index for controlling draw order. Default is 5 (below boxes at 7). Use 9 for pictures that should appear above boxes like the difficulty face (WL_MENU.C:1658 - DrawNewGameDiff called AFTER DrawWindow).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Frames" type="xs:string">
						<xs:annotation>
							<xs:documentation>Comma-separated list of VgaGraph picture names to cycle through for animation (e.g., "L_GUYPIC,L_GUY2PIC" for BJ breathing). If specified, the picture will animate between these frames.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FrameInterval" type="xs:decimal">
						<xs:annotation>
							<xs:documentation>Time in seconds between animation frames (default 0.5). Only used when Frames is specified.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Text">
		<xs:annotation>
			<xs:documentation>
				Non-interactive text label in a menu (e.g., "How tough are you?" in NewGame menu).
				Used for static text that is not selectable. WL_MENU.C:US_Print().
				Element content is the text to display.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="X" type="CoordinateOrCenter" use="required">
						<xs:annotation>
							<xs:documentation>X coordinate for text placement, or "Center" to horizontally center the text on screen</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Y" type="CoordinateOrCenter" use="required">
						<xs:annotation>
							<xs:documentation>Y coordinate for text placement, or "Center" to vertically center the text on screen</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Font" type="xs:string">
						<xs:annotation>
							<xs:documentation>Font name (e.g., "BIG", "SMALL"). If not specified, uses menu Font, then default Font.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Color" type="xs:nonNegativeInteger">
						<xs:annotation>
							<xs:documentation>Text color index (VGA palette 0-255). If not specified, uses menu TextColor, then default TextColor. Example: READHCOLOR = 0x47 (71) for yellow text.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Optional identifier for Lua to update text dynamically via SetText(name, value). Used by intermission screen for floor number, time, par time, bonus values.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Ticker">
		<xs:annotation>
			<xs:documentation>
				Animated percent counter for intermission screen.
				Displays a number that can be animated from 0 to a target value by Lua via StartTicker(name, target).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for Lua to start and control the ticker (e.g., "KillRatio")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="X" type="CoordinateOrCenter" use="required">
				<xs:annotation>
					<xs:documentation>X coordinate for ticker placement</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Y" type="CoordinateOrCenter" use="required">
				<xs:annotation>
					<xs:documentation>Y coordinate for ticker placement</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Font" type="xs:string">
				<xs:annotation>
					<xs:documentation>Font name override. If not specified, uses menu Font.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Color" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Color override (VGA palette 0-255). If not specified, uses menu TextColor.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Align" type="xs:string">
				<xs:annotation>
					<xs:documentation>Text alignment ("Right" for right-aligned numbers, default is left-aligned)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TickSound" type="xs:string">
				<xs:annotation>
					<xs:documentation>Sound name to play per increment (e.g., "ENDBONUS1SND")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DoneSound" type="xs:string">
				<xs:annotation>
					<xs:documentation>Sound name to play when counting finishes (e.g., "ENDBONUS2SND")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PerfectSound" type="xs:string">
				<xs:annotation>
					<xs:documentation>Sound name to play when value reaches 100% (e.g., "PERCENT100SND")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NoBonusSound" type="xs:string">
				<xs:annotation>
					<xs:documentation>Sound name to play when target value is 0 (e.g., "NOBONUSSND")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TickInterval" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Increment every N% to trigger sound (default 10)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pause">
		<xs:annotation>
			<xs:documentation>
				Pauses the menu sequence until any button is pressed, then executes the Lua script content.
				Runs after tickers complete but before interactive MenuItems.
				If Duration is specified, the pause auto-completes after that time (or can be skipped by pressing any button).
				If there are no tickers or OnShow sequence steps, the pause begins immediately.
				Skipped entirely if the menu has no Pause elements.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Duration" type="xs:string">
						<xs:annotation>
							<xs:documentation>Optional timeout as a TimeSpan string (e.g., "00:00:05" for 5 seconds, "00:01:30" for 1 minute 30 seconds). Parsed by C# TimeSpan.TryParse. If omitted, waits indefinitely for any button press.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="MenuFunction">
		<xs:annotation>
			<xs:documentation>
				Defines a menu function (Lua script) for menu behavior.
				Similar to Actor Function but for menu actions instead of AI.
				The element's text content contains the Lua script code.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for this function (e.g., "OnNewGame", "OnSelectEpisode1").
								Can be called from MenuItem inline scripts or other menu functions for code reuse.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Optional description of what this function does.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Cancel">
		<xs:complexType>
			<xs:attribute name="InGame" type="xs:boolean"/>
			<xs:attribute name="Action" type="xs:string"/>
			<xs:attribute name="Argument" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Cursor">
		<xs:complexType>
			<xs:attribute name="Cursor1" type="xs:string"/>
			<xs:attribute name="Cursor2" type="xs:string"/>
			<xs:attribute name="X" type="xs:integer"/>
			<xs:attribute name="Y" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Maps Section                                 -->
	<!-- ============================================ -->

	<xs:element name="Maps">
		<xs:annotation>
			<xs:documentation>
				Level map data from MAPHEAD/GAMEMAPS files.
				Default floor/ceiling colors and tiles can be specified here and overridden per-map.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Map" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="MapHead" type="xs:string" use="required"/>
			<xs:attribute name="GameMaps" type="xs:string" use="required"/>
			<xs:attribute name="Floor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Default floor color as VGA palette index for all maps.
						Individual Map elements can override this value.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FloorTile" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Default floor texture as VSWAP page number for all maps.
						When specified, overrides Floor color with a tiled texture.
						Individual Map elements can override this value.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Ceiling" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Default ceiling color as VGA palette index for all maps.
						Individual Map elements can override this value.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CeilingTile" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Default ceiling texture as VSWAP page number for all maps.
						When specified, overrides Ceiling color with a tiled texture.
						Individual Map elements can override this value.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Map">
		<xs:annotation>
			<xs:documentation>
				Level/map metadata defining visual appearance and gameplay parameters.

				Most attributes correspond to arrays in the original Wolf3D source code
				that were indexed by level number (gamestate.mapon or episode*10+mapon).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>
						Map index (gamestate.mapon in source code).
						Used to index into level data arrays.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Episode" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Episode number (gamestate.episode or MapEpisode[] in source).
						Used for episode-based level organization in Wolf3D.
						Noah's Ark uses MapEpisode[] array (WL_AGENT.C:107).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Level" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Level number within episode (MapLevel[] in source).
						The "floor" number within the castle/episode (1st floor, 2nd floor, etc.).
						Noah's Ark uses MapLevel[] array (WL_AGENT.C:108).
						Used with Episode for level organization and elevator progression.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Floor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Floor color as VGA palette index (vgaFloor equivalent).
						In VGAClearScreen() (WL_DRAW.C:1184), floor is hardcoded as:
						- 0x1919 (decimal 25) for standard Wolf3D/Spear
						- 0xd9d9 (decimal 217) for Noah's Ark
						Value represents repeating byte pattern (e.g., 25 = 0x1919).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FloorTile" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Floor tile/texture index for textured floors.
						Corresponds to FloorTile[] array in Noah's Ark (WL_INTER.C:2108).
						In standard Wolf3D, this may be unused or omitted.
						Passed to LoadFloorTiles() for Noah's Ark textured floor rendering.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Ceiling" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Ceiling color as VGA palette index (vgaCeiling[] array).
						Defined in WL_DRAW.C:1079, indexed by episode*10+mapon (Wolf3D)
						or just mapon (Noah's Ark).
						Examples: 29 (0x1d, grey), 191 (0xbf, purple for secret levels).
						Value represents repeating byte pattern (e.g., 29 = 0x1d1d).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CeilingTile" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Ceiling tile/texture index for textured ceilings.
						Extension beyond original Wolf3D/Noah's Ark (which used FloorTile[]
						for BOTH floor and ceiling in Noah's Ark).
						Allows modders to specify different textures for ceiling vs floor.
						If omitted, may default to FloorTile value for Noah's Ark compatibility.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Border" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Border/overscan color as VGA palette index (BORDERCOLOR macro).
						Defined in WL_DEF.H:104, used with COLORBORDER() macro.
						Standard values: 3 (Wolf3D), 0x9b (Spear), 0xdb (Noah3D).
						Sets the VGA overscan border around the playfield.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Par" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Par time for level completion in HH:MM:SS format.
						Corresponds to LRstruct.par member (WL_MENU.H:347-354).
						Used in Noah's Ark and some Wolf3D versions for time trials.
						Stored as long in original code, formatted as timestring here.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Music" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Music track name for this level (songs[] array).
						Defined in WL_PLAY.C:122, indexed by gamestate.mapon.
						References IMF music track names from Audio section.
						Different versions have different song arrays.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ElevatorTo" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Destination map number when completing level via normal elevator.
						Used when player activates ELEVATORTILE (typically 21) while NOT standing on ALTELEVATORTILE.
						Defaults to Level + 1 if not specified.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AltElevatorTo" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Destination map number when completing level via alternate elevator.
						Used when player activates ELEVATORTILE while standing on ALTELEVATORTILE (typically 107).
						This typically leads to a secret level in the original game.
						If not specified, alternate elevator behaves the same as normal elevator (uses ElevatorTo).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Audio Section                                -->
	<!-- ============================================ -->

	<xs:element name="Audio">
		<xs:annotation>
			<xs:documentation>
				Audio assets from AUDIOHED/AUDIOT files.
				Contains AdLib/PC Speaker sounds and music (IMF format).
				DigiSounds (Sound Blaster) are stored in VSWAP, not here.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Sound"/>
				<xs:element ref="Imf"/>
			</xs:choice>
			<xs:attribute name="AudioHead" type="xs:string" use="required"/>
			<xs:attribute name="AudioT" type="xs:string" use="required"/>
			<xs:attribute name="StartPCSounds" type="xs:nonNegativeInteger"/>
			<xs:attribute name="StartAdlibSounds" type="xs:nonNegativeInteger"/>
			<xs:attribute name="StartMusic" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Sound">
		<xs:annotation>
			<xs:documentation>
				AdLib/PC Speaker sound effect from AUDIOT file.
				Distinct from DigiSound (Sound Blaster samples stored in VSWAP).
				Number is the index into the AUDIOT sound table.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="DigiSound">
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Imf">
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- VSwap Section                                -->
	<!-- ============================================ -->

	<xs:element name="VSwap">
		<xs:annotation>
			<xs:documentation>
				VSWAP file containing wall textures, sprites, and digital sounds.
				PMSpriteStart and PMSoundStart are read from the VSWAP file header.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="WallPlane" minOccurs="0"/>
				<xs:element ref="StatInfo" minOccurs="0"/>
				<xs:element ref="Actors" minOccurs="0"/>
				<xs:element ref="GameplayWeapons" minOccurs="0"/>
				<xs:element ref="Sprites" minOccurs="0"/>
				<xs:element ref="DigiSounds" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Sqrt" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Scale" type="xs:nonNegativeInteger"/>
			<xs:attribute name="MipMaps" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>

	<!-- WallPlane (mapsegs[0]) -->

	<xs:element name="WallPlane">
		<xs:annotation>
			<xs:documentation>
				Wall plane (mapsegs[0]) configuration. Contains wall tiles, door tiles,
				and special marker tiles from the map's first plane.

				Regular walls 1-MaxWallTiles use the hardcoded formula from WL_MAIN.C SetupWalls():
				horizwall[i] = (i-1) * 2    (horizontal/light walls)
				vertwall[i]  = (i-1) * 2 + 1 (vertical/dark walls)

				DoorWall specifies the base VSWAP page for door textures (calculated as
				PMSpriteStart - 8 in original code, but hardcoded here for modding).

				FloorCodeFirst/Last define the range of floor code tiles used for area
				detection (AREATILE through AREATILE+NUMAREAS-1, typically 107-143).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Elevator"/>
				<xs:element ref="Pushable"/>
				<xs:element ref="Exit"/>
				<xs:element ref="Ambush"/>
				<xs:element ref="AltElevator"/>
				<xs:element ref="Door"/>
			</xs:choice>
			<xs:attribute name="MaxWallTiles" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="DoorWall" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="FloorCodeFirst" type="xs:nonNegativeInteger"/>
			<xs:attribute name="FloorCodeLast" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Elevator">
		<xs:annotation>
			<xs:documentation>
				Elevator activation tile. When player uses this tile, triggers level
				completion and elevator sequence. Destination (next level or secret level)
				depends on floor tile player is standing on. (ELEVATORTILE = 21)

				In original Wolf3D, the switch texture changes when pressed by incrementing
				the tile number (tilemap[x][y]++), changing texture from Tile to Tile+1.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>
						Wall tile number for the elevator switch (e.g., 21).
						The wall texture follows the standard formula: horizwall[i]=(i-1)*2, vertwall[i]=(i-1)*2+1.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PressedTile" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Wall tile number for the pressed elevator switch texture.
						WL_AGENT.C: tilemap[checkx][checky]++ swaps the switch to this tile.
						Only the faces specified by Faces attribute are swapped.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Faces" type="ElevatorFacesType" default="All">
				<xs:annotation>
					<xs:documentation>
						Which wall faces the elevator switch can be activated from.
						- "All": Activates from any direction (default, for modding flexibility)
						- "EastWest": Only activates from east or west (original Wolf3D behavior)
						- "NorthSouth": Only activates from north or south
						Original Wolf3D used EastWest because the switch texture only appears on E/W faces.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Sound" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Sound to play when elevator is activated (e.g., "LEVELDONESND").
						If not specified, defaults to "LEVELDONESND".
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pushable">
		<xs:annotation>
			<xs:documentation>
				Pushable wall marker. Walls marked with this tile can be pushed by the
				player to reveal secret areas. (PUSHABLETILE = 98)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Exit">
		<xs:annotation>
			<xs:documentation>
				Victory/exit tile. When player walks onto this tile, triggers end of
				episode/castle victory sequence. (EXITTILE = 99)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Ambush">
		<xs:annotation>
			<xs:documentation>
				Ambush marker tile. During level setup, this tile is removed from the
				tilemap and enemies placed on it are marked with FL_AMBUSH flag, making
				them deaf/inactive until triggered. The floor code from adjacent tiles
				is used to replace this tile. (AMBUSHTILE = 106)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="AltElevator">
		<xs:annotation>
			<xs:documentation>
				Secret level elevator floor tile. When player activates an elevator
				while standing on this tile, triggers transition to secret level
				instead of normal level completion. This tile number is also AREATILE,
				the first floor code. (ALTELEVATORTILE = 107)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Door">
		<xs:annotation>
			<xs:documentation>
				Door type definition from wall plane (mapsegs[0]). Door tiles are 90-101.

				Tile attribute is the base (even) tile number; odd value (Tile+1) is implied
				for opposite orientation (vertical vs horizontal).
				Lock type is calculated as (Tile-90)/2.

				Key attribute specifies required inventory item (omit if no key needed).
				Page is offset from DoorWall (actual page = DoorWall + Page).

				Optional inline Lua script executed when the player tries to open the door.
				Return true to open, false to stay locked.
				If no script is present, the door opens freely.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
					<xs:attribute name="Key" type="xs:string"/>
					<xs:attribute name="Page" type="xs:nonNegativeInteger" use="required"/>
					<xs:attribute name="OpenSound" type="xs:string"/>
					<xs:attribute name="CloseSound" type="xs:string"/>
					<xs:attribute name="LockedSound" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Sound to play when the player tries to open the door but cannot (e.g., "NOWAYSND").
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!-- StatInfo (statinfo[] lookup table from original code) -->

	<xs:element name="StatInfo">
		<xs:annotation>
			<xs:documentation>
				Static object type definitions. Maps info plane tile numbers to sprite pages
				and object properties. Equivalent to the statinfo[] array in WL_ACT1.C.
				Contains decorations, pickups, enemy spawners, player start, etc.
				Also contains BonusScript definitions for item pickup behavior.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="BonusScript"/>
				<xs:element ref="ObjectType"/>
				<xs:element ref="Turn"/>
				<xs:element ref="Pushwall"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="BonusScript">
		<xs:annotation>
			<xs:documentation>
				Named Lua script for item pickup behavior.
				Referenced by ObjectType elements via Script attribute.
				Can also be referenced by enemy drop definitions.

				Script receives ItemScriptContext with player state methods.
				Return true to consume the item, false to leave it.

				Example:
				&lt;BonusScript Name="health_small"&gt;
				if GetPlayerHealth() &lt; GetPlayerMaxHealth() then
				    HealPlayer(4)
				    PlayLocalDigiSound("HEALTH1SND")
				    return true
				end
				return false
				&lt;/BonusScript&gt;
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for this script.
								Referenced by ObjectType Script attribute and enemy drop definitions.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ObjectType">
		<xs:annotation>
			<xs:documentation>
				Map tile object - can be decoration, pickup, enemy spawn, or special marker.
				Replaces Billboard, Pickup, Spawn, Start elements with unified structure.
				Behavior is defined via Script attribute referencing a BonusScript.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<!-- Map tile properties -->
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string"/>
			<xs:attribute name="ObClass" type="ObClassType"/>

			<!-- Visual properties -->
			<xs:attribute name="Sprite" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Page" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Palette" type="xs:nonNegativeInteger"/>

			<!-- Physical properties -->
			<xs:attribute name="Walk" type="xs:boolean"/>

			<!-- Pickup properties -->
			<xs:attribute name="Treasure" type="xs:boolean"/>
			<xs:attribute name="Sound" type="xs:string"/>
			<xs:attribute name="Script" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Reference to a BonusScript by Name.
						Script determines pickup behavior (e.g., conditional health pickup).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>

			<!-- Enemy spawn properties -->
			<xs:attribute name="Actor" type="xs:string"/>
			<xs:attribute name="Direction" type="DirectionType"/>
			<xs:attribute name="Difficulty" type="xs:nonNegativeInteger"/>
			<xs:attribute name="State" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Turn">
		<xs:annotation>
			<xs:documentation>
				Patrol direction marker tile. When a patrolling enemy walks onto this tile,
				they change direction. Tiles 90-97 in WL_ACT1.C statinfo[].
				Supports all 8 compass directions including diagonals.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Direction" type="EightDirectionType" use="required"/>
			<xs:attribute name="Name" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pushwall">
		<xs:annotation>
			<xs:documentation>
				Pushable secret wall definition. Defines the tile number used as a pushwall
				marker in the info plane, along with the sound played when pushed.
				Corresponds to PUSHABLETILE (98) in WL_ACT1.C.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string"/>
			<xs:attribute name="DigiSound" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Actor">
		<xs:annotation>
			<xs:documentation>
				Enemy class definition with AI behavior.
				Scripts define complex behavior (onDeath item drops, etc.)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Script" type="xs:string" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="HP" type="xs:string"/>
			<xs:attribute name="Reaction" type="xs:string"/>
			<xs:attribute name="Speed" type="xs:integer"/>
			<xs:attribute name="AlertDigiSound" type="xs:string"/>
			<xs:attribute name="Stand" type="xs:string"/>
			<xs:attribute name="Chase" type="xs:string"/>
			<xs:attribute name="Attack" type="xs:string"/>
			<xs:attribute name="Death" type="xs:string"/>
			<xs:attribute name="Pain" type="xs:string"/>
			<xs:attribute name="Pain1" type="xs:string"/>
			<xs:attribute name="Ambush" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="State">
		<xs:annotation>
			<xs:documentation>
				State machine state for actor AI.
				Scripts can extend state behavior.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Script" type="xs:string" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Rotate" type="xs:boolean"/>
			<xs:attribute name="Shape" type="xs:string"/>
			<xs:attribute name="Tics" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Think" type="xs:string"/>
			<xs:attribute name="Action" type="xs:string"/>
			<xs:attribute name="Speed" type="xs:integer"/>
			<xs:attribute name="Next" type="xs:string"/>
			<xs:attribute name="Alive" type="xs:boolean"/>
			<xs:attribute name="Mark" type="xs:boolean"/>
			<xs:attribute name="DigiSound" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<!-- Actors (AI definitions, not plane data) -->

	<xs:element name="Actors">
		<xs:annotation>
			<xs:documentation>
				Enemy AI definitions (actors, states, and functions). Not tied to specific map planes,
				these define the behavior and state machines for enemy classes.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Actor"/>
				<xs:element ref="State"/>
				<xs:element ref="Function"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="Function">
		<xs:annotation>
			<xs:documentation>
				Named Lua function for actor AI behavior (Think/Action callbacks).
				The element content contains the Lua script code.
				Equivalent to C functions like T_Stand, T_Path, T_Shoot in WL_ACT2.C.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for this function (e.g., "T_Stand", "T_Path", "T_Shoot").
								Referenced by State Think and Act attributes.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Optional description of what this function does.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!-- GameplayWeapons (weapon definitions for simulation) -->

	<xs:element name="GameplayWeapons">
		<xs:annotation>
			<xs:documentation>
				Weapon definitions for gameplay (simulation layer).
				Defines weapon properties, states, damage, ammo consumption, and fire modes.
				Distinct from VgaGraph Weapons element (which defines UI/menu graphics).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GameplayWeapon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GameplayWeapon">
		<xs:annotation>
			<xs:documentation>
				Individual weapon definition for gameplay simulation.
				Based on WL_AGENT.C attackinfo[] structure and weapon logic.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						Unique weapon identifier (e.g., "knife", "pistol", "machinegun", "chaingun").
						Used for inventory, equip actions, and weapon selection.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="WeaponNumber" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Weapon slot number for inventory and key binding (e.g., 0=knife, 1=pistol, 2=machinegun, 3=chaingun).
						Based on WL_AGENT.C attackinfo[] index.
						Used to map keyboard keys (Key1-Key4) to weapons.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdleState" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						State name for weapon idle/ready animation (e.g., "s_knife_idle", "s_pistol_ready").
						Weapon stays in this state when not attacking.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FireState" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						State name for weapon fire/attack animation (e.g., "s_knife_attack1", "s_pistol_fire1").
						Weapon transitions to this state when fired.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="BaseDamage" type="xs:short">
				<xs:annotation>
					<xs:documentation>
						Base damage per hit (can be modified by scripts or difficulty).
						Examples: Knife=10, Pistol=5, Machinegun=5, Chaingun=5.
						Defaults to 0 if absent.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AmmoPerShot" type="xs:short" default="0">
				<xs:annotation>
					<xs:documentation>
						Ammo consumed per shot. 0 for melee weapons (unlimited), 1 for standard guns.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AmmoType" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Ammo type required (e.g., "bullets", "shells"). Null/empty for melee weapons.
						Maps to ammo inventory keys.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RapidFire" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>
						Whether the weapon fires continuously while the trigger is held.
						false (default): Must release trigger between shots (knife, pistol).
						true: Continues firing while trigger held (machine gun, chain gun).
						Based on WL_AGENT.C:T_Attack cases 3 and 4 loop-back logic.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FireSound" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Sound name to play when firing (e.g., "ATKKNIFESND", "ATKPISTOLSND", "ATKGATGUNSND").
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- Sprites -->

	<xs:element name="Sprites">
		<xs:annotation>
			<xs:documentation>
				Sprite definitions. Page is absolute VSWAP page number.
				Sprites begin at PMSpriteStart (read from VSWAP header).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sprite" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Sprite">
		<xs:complexType>
			<xs:attribute name="Page" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Palette" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<!-- DigiSounds (digital sounds in VSwap) -->

	<xs:element name="DigiSounds">
		<xs:annotation>
			<xs:documentation>
				Digital sound data stored in VSWAP after sprites.
				Page numbers are relative to PMSoundStart (read from VSWAP header).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DigiSound" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
						<xs:attribute name="Name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Palette Section                              -->
	<!-- ============================================ -->

	<xs:element name="Palettes">
		<xs:annotation>
			<xs:documentation>
				Wrapper for all Palette elements inside Game.
				Required by xs:all, which does not allow maxOccurs="unbounded" on direct children.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Palette" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Palette">
		<xs:annotation>
			<xs:documentation>
				Palette containing 256 colors in XML format.
				Each Color element specifies a 24-bit RGB color using hex notation.
				The Name attribute is optional and used for alternate palettes.
				The first palette without a Name attribute is the default palette.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Color" minOccurs="256" maxOccurs="256"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Color">
		<xs:annotation>
			<xs:documentation>
				A single color in 24-bit RGB format using hexadecimal notation.
				Format: #RRGGBB (case insensitive)
				Example: #FF0000 for red, #00FF00 for green, #0000FF for blue
				Will be converted to 32-bit RGBA by left-shifting 8 bits and ORing with 0xFF (opaque alpha).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Hex" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="#[0-9A-Fa-f]{6}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Common Types                                 -->
	<!-- ============================================ -->

	<xs:simpleType name="DirectionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ElevatorFacesType">
		<xs:annotation>
			<xs:documentation>
				Specifies which wall faces an elevator switch can be activated from.
				In original Wolf3D, elevator switches only work from east/west faces (WL_AGENT.C:Cmd_Use elevatorok).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="All"/>
			<xs:enumeration value="EastWest"/>
			<xs:enumeration value="NorthSouth"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ObClassType">
		<xs:annotation>
			<xs:documentation>
				Object class for StatInfo entries. Determines how the engine treats each map tile.
				Corresponds to classtype enum in WL_DEF.H.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="playerobj"/>
			<xs:enumeration value="dressing"/>
			<xs:enumeration value="block"/>
			<xs:enumeration value="bonus"/>
			<xs:enumeration value="actor"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EightDirectionType">
		<xs:annotation>
			<xs:documentation>
				Eight-way compass direction used for patrol turn tiles.
				Extends the four-way DirectionType with diagonal directions.
				Corresponds to the Direction enum in the C# codebase.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="NW"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="SW"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="SE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CoordinateOrCenter">
		<xs:annotation>
			<xs:documentation>
				Union type allowing either an integer coordinate or the literal string "Center".
				Use "Center" for X to horizontally center text, or for Y to vertically center text.
				Numeric values specify absolute screen coordinates.
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:integer">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Center"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

</xs:schema>
