games/WOLF3D.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<!-- ============================================ -->
	<!-- Root Element: Game                           -->
	<!-- ============================================ -->

	<xs:element name="Game">
		<xs:annotation>
			<xs:documentation>
				Root element for Wolfenstein 3D game definition.
				Defines all game assets, levels, and configuration.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VgaGraph" minOccurs="0"/>
				<xs:element ref="Maps" minOccurs="0"/>
				<xs:element ref="Audio" minOccurs="0"/>
				<xs:element ref="VSwap" minOccurs="0"/>
				<xs:element ref="Palette" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Exe" type="xs:string"/>
			<xs:attribute name="HighScores" type="xs:string"/>
			<xs:attribute name="Path" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- VgaGraph Section                             -->
	<!-- ============================================ -->

	<xs:element name="VgaGraph">
		<xs:annotation>
			<xs:documentation>
				Graphics assets from VGAGRAPH/VGADICT/VGAHEAD files.
				Contains fonts, pictures, status bar, and menu definitions.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sizes" minOccurs="0"/>
				<xs:element ref="Font" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Pic" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="StatusBar" minOccurs="0"/>
				<xs:element ref="Menus" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="VgaDict" type="xs:string" use="required"/>
			<xs:attribute name="VgaGraph" type="xs:string" use="required"/>
			<xs:attribute name="VgaHead" type="xs:string" use="required"/>
			<xs:attribute name="LoadingPic" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Sizes">
		<xs:annotation>
			<xs:documentation>
				VgaGraph sizes array metadata. The sizes chunk contains width/height pairs
				for all Pic elements in the VgaGraph.

				Chunk: File chunk number containing the sizes array (typically 0)
				StartPic: First file chunk containing Pic data (typically 3)
				StartFont: First file chunk containing Font data (typically 1)
				Fonts: Number of regular (non-prefix) fonts to load

				Regular fonts are loaded sequentially from chunks [StartFont..StartFont+Fonts-1].
				Pics are loaded sequentially from chunks [StartPic..StartPic+PicCount-1].
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Chunk" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>
						File chunk number containing the sizes array (typically 0).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StartPic" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>
						First file chunk containing Pic data (typically 3, after sizes and fonts).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StartFont" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>
						First file chunk containing Font data (typically 1, after sizes chunk 0).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Fonts" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>
						Number of regular (non-prefix) fonts to load from sequential chunks.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Font">
		<xs:annotation>
			<xs:documentation>
				Font definition. Fonts can be either:
				1. Regular VgaGraph fonts (no Prefix attribute) - loaded from file chunks
				2. Prefix-based fonts (with Prefix attribute) - built from VgaGraph Pics

				For REGULAR fonts (no Prefix):
				- Number is the index into both the final Fonts[] array AND VgaGraph.Fonts[] array
				- Font data is loaded from file chunk (StartFont + Number)
				- Example: Font Number="0" loads from VgaGraph.Fonts[0] (file chunk StartFont+0)

				For PREFIX-BASED fonts (with Prefix):
				- Number is the index into the final Fonts[] array only
				- Font is synthesized from VgaGraph Pics whose names start with the Prefix
				- Each Pic must have a Character attribute mapping it to a character
				- Height, SpaceWidth attributes configure the font metrics
				- Example: Font Number="2" Prefix="L_" builds from pics L_APIC, L_BPIC, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:unsignedShort" use="required">
				<xs:annotation>
					<xs:documentation>
						Index in final Fonts[] array. For regular fonts, also index into VgaGraph.Fonts[].
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Prefix" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Pic name prefix for building synthetic fonts (e.g., "L_" matches L_APIC, L_BPIC).
						If present, this is a prefix-based font. If absent, this is a regular VgaGraph font.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						Font name for lookup/reference (e.g., "SMALL", "BIG", "L").
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Height" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Font height in pixels. Required for prefix-based fonts, ignored for regular fonts.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SpaceWidth" type="xs:unsignedShort">
				<xs:annotation>
					<xs:documentation>
						Optional: Width of space character in pixels (prefix-based fonts only).
						Use when the font doesn't include a Pic with Character=" ".
						If specified with SpaceColor, a textured space glyph will be created.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SpaceColor" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>
						Optional: Color index (0-255) from the default palette (index 0) for space character color (prefix-based fonts only).
						Use when the font doesn't include a Pic with Character=" ".
						Creates a solid-color textured glyph for the space character required for Godot UI.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pic">
		<xs:annotation>
			<xs:documentation>
				VgaGraph picture/graphic definition. Pics are UI graphics, menu elements,
				status bar components, and other 2D images.

				Pics are loaded sequentially from file chunks starting at StartPic.
				Pic Number="0" loads from chunk (StartPic+0), Number="1" from (StartPic+1), etc.

				Each Pic has corresponding size data in the sizes array at Sizes[Number].
				The width and height are stored as a pair: [width, height].

				Character attribute is used for prefix-based fonts - when a Pic is part
				of a font (name matches font's Prefix), this maps it to a character.

				Palette attribute (optional, not shown) can override the default palette.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:unsignedShort" use="required">
				<xs:annotation>
					<xs:documentation>
						Index into VgaGraph.Pics[] array. Pic data loaded from chunk (StartPic + Number).
						Constrained to ushort range (0-65535) for idiomatic C# array indexing.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						Pic name for lookup (e.g., "TITLEPIC", "L_APIC"). Stored in VgaGraph.PicsByName dictionary.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Character" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Character mapping for prefix-based fonts. Single character this Pic represents
						when used in a font (e.g., Character="A" for L_APIC in the "L_" font).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Palette" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Optional palette index override. If omitted, uses default palette (index 0).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="StatusBar">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Number"/>
				<xs:element ref="Face"/>
				<xs:element ref="Weapons"/>
			</xs:choice>
			<xs:attribute name="Pic" type="xs:string"/>
			<xs:attribute name="Font" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Number">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Digits" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Init" type="xs:integer"/>
			<xs:attribute name="Max" type="xs:integer"/>
			<xs:attribute name="Have" type="xs:string"/>
			<xs:attribute name="Empty" type="xs:string"/>
			<xs:attribute name="LevelReset" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Face">
		<xs:complexType>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Weapons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Weapon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Weapon">
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Pic" type="xs:string"/>
			<xs:attribute name="Init" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Menus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EndString" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MenuFunction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Menu" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Start" type="xs:string"/>
			<xs:attribute name="Song" type="xs:string"/>
			<xs:attribute name="Deactive" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Stripe" type="xs:nonNegativeInteger"/>
			<xs:attribute name="SelectSound" type="xs:string"/>
			<xs:attribute name="ScrollSound" type="xs:string"/>
			<xs:attribute name="BordColor" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Bord2Color" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Color" type="xs:nonNegativeInteger"/>
			<xs:attribute name="TextColor" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Font" type="xs:string"/>
			<xs:attribute name="ModalFont" type="xs:string"/>
			<xs:attribute name="Selected" type="xs:string"/>
			<xs:attribute name="NotSelected" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Menu">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Image"/>
				<xs:element ref="Text"/>
				<xs:element ref="PixelRect"/>
				<xs:element ref="MenuItems"/>
				<xs:element ref="Cancel"/>
				<xs:element ref="Cursor"/>
			</xs:choice>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="BkgdColor" type="xs:string"/>
			<xs:attribute name="Font" type="xs:string"/>
			<xs:attribute name="Song" type="xs:string"/>
			<xs:attribute name="SelectedColor" type="xs:string"/>
			<xs:attribute name="TextColor" type="xs:string"/>
			<xs:attribute name="DisabledColor" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Image">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="X" type="xs:string"/>
			<xs:attribute name="Y" type="xs:string"/>
			<xs:attribute name="XBanner" type="xs:integer"/>
			<xs:attribute name="Action" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Text">
		<xs:complexType>
			<xs:attribute name="String" type="xs:string" use="required"/>
			<xs:attribute name="X" type="xs:string"/>
			<xs:attribute name="Y" type="xs:string"/>
			<xs:attribute name="Color" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="PixelRect">
		<xs:complexType>
			<xs:attribute name="X" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Y" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Width" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Height" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Color" type="xs:string"/>
			<xs:attribute name="BordColor" type="xs:string"/>
			<xs:attribute name="Bord2Color" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="MenuItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MenuItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="StartX" type="xs:nonNegativeInteger"/>
			<xs:attribute name="StartY" type="xs:nonNegativeInteger"/>
			<xs:attribute name="PaddingX" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="MenuItem">
		<xs:complexType>
			<xs:attribute name="Text" type="xs:string"/>
			<xs:attribute name="Action" type="xs:string"/>
			<xs:attribute name="Argument" type="xs:string"/>
			<xs:attribute name="InGame" type="xs:boolean"/>
			<xs:attribute name="Condition" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="MenuFunction">
		<xs:annotation>
			<xs:documentation>
				Defines a menu function (Lua script) for menu behavior.
				Similar to Actor Function but for menu actions instead of AI.
				The element's text content contains the Lua script code.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for this function (e.g., "OnNewGame", "OnSelectEpisode1").
								Referenced by MenuItem Action attributes.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Optional description of what this function does.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Cancel">
		<xs:complexType>
			<xs:attribute name="InGame" type="xs:boolean"/>
			<xs:attribute name="Action" type="xs:string"/>
			<xs:attribute name="Argument" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Cursor">
		<xs:complexType>
			<xs:attribute name="Cursor1" type="xs:string"/>
			<xs:attribute name="Cursor2" type="xs:string"/>
			<xs:attribute name="X" type="xs:integer"/>
			<xs:attribute name="Y" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Maps Section                                 -->
	<!-- ============================================ -->

	<xs:element name="Maps">
		<xs:annotation>
			<xs:documentation>
				Level map data from MAPHEAD/GAMEMAPS files.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Map" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="MapHead" type="xs:string" use="required"/>
			<xs:attribute name="GameMaps" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Map">
		<xs:annotation>
			<xs:documentation>
				Level/map metadata defining visual appearance and gameplay parameters.

				Most attributes correspond to arrays in the original Wolf3D source code
				that were indexed by level number (gamestate.mapon or episode*10+mapon).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>
						Map index (gamestate.mapon in source code).
						Used to index into level data arrays.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Episode" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Episode number (gamestate.episode or MapEpisode[] in source).
						Used for episode-based level organization in Wolf3D.
						Noah's Ark uses MapEpisode[] array (WL_AGENT.C:107).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Level" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Level number within episode (MapLevel[] in source).
						The "floor" number within the castle/episode (1st floor, 2nd floor, etc.).
						Noah's Ark uses MapLevel[] array (WL_AGENT.C:108).
						Used with Episode for level organization and elevator progression.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Floor" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Floor color as VGA palette index (vgaFloor equivalent).
						In VGAClearScreen() (WL_DRAW.C:1184), floor is hardcoded as:
						- 0x1919 (decimal 25) for standard Wolf3D/Spear
						- 0xd9d9 (decimal 217) for Noah's Ark
						Value represents repeating byte pattern (e.g., 25 = 0x1919).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FloorTile" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Floor tile/texture index for textured floors.
						Corresponds to FloorTile[] array in Noah's Ark (WL_INTER.C:2108).
						In standard Wolf3D, this may be unused or omitted.
						Passed to LoadFloorTiles() for Noah's Ark textured floor rendering.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Ceiling" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Ceiling color as VGA palette index (vgaCeiling[] array).
						Defined in WL_DRAW.C:1079, indexed by episode*10+mapon (Wolf3D)
						or just mapon (Noah's Ark).
						Examples: 29 (0x1d, grey), 191 (0xbf, purple for secret levels).
						Value represents repeating byte pattern (e.g., 29 = 0x1d1d).
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CeilingTile" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Ceiling tile/texture index for textured ceilings.
						Extension beyond original Wolf3D/Noah's Ark (which used FloorTile[]
						for BOTH floor and ceiling in Noah's Ark).
						Allows modders to specify different textures for ceiling vs floor.
						If omitted, may default to FloorTile value for Noah's Ark compatibility.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Border" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Border/overscan color as VGA palette index (BORDERCOLOR macro).
						Defined in WL_DEF.H:104, used with COLORBORDER() macro.
						Standard values: 3 (Wolf3D), 0x9b (Spear), 0xdb (Noah3D).
						Sets the VGA overscan border around the playfield.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Par" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Par time for level completion in HH:MM:SS format.
						Corresponds to LRstruct.par member (WL_MENU.H:347-354).
						Used in Noah's Ark and some Wolf3D versions for time trials.
						Stored as long in original code, formatted as timestring here.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Song" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Music track name for this level (songs[] array).
						Defined in WL_PLAY.C:122, indexed by gamestate.mapon.
						References IMF music track names from Audio section.
						Different versions have different song arrays.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ElevatorTo" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>
						Destination map number when completing level via elevator.
						Determines next level in sequence or secret level transitions.
						Used when player activates ELEVATORTILE (typically 21).
						If standing on ALTELEVATORTILE (107), goes to secret level.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Audio Section                                -->
	<!-- ============================================ -->

	<xs:element name="Audio">
		<xs:annotation>
			<xs:documentation>
				Audio assets from AUDIOHED/AUDIOT files.
				Contains digital sounds and music (IMF format).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DigiSound" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Imf" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="AudioHead" type="xs:string" use="required"/>
			<xs:attribute name="AudioT" type="xs:string" use="required"/>
			<xs:attribute name="StartPCSounds" type="xs:nonNegativeInteger"/>
			<xs:attribute name="StartAdlibSounds" type="xs:nonNegativeInteger"/>
			<xs:attribute name="StartMusic" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="DigiSound">
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Imf">
		<xs:complexType>
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- VSwap Section                                -->
	<!-- ============================================ -->

	<xs:element name="VSwap">
		<xs:annotation>
			<xs:documentation>
				VSWAP file containing wall textures, sprites, and digital sounds.
				PMSpriteStart and PMSoundStart are read from the VSWAP file header.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WallPlane" minOccurs="0"/>
				<xs:element ref="StatInfo" minOccurs="0"/>
				<xs:element ref="Actors" minOccurs="0"/>
				<xs:element ref="Sprites" minOccurs="0"/>
				<xs:element ref="DigiSounds" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Sqrt" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Scale" type="xs:nonNegativeInteger"/>
			<xs:attribute name="MipMaps" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>

	<!-- WallPlane (mapsegs[0]) -->

	<xs:element name="WallPlane">
		<xs:annotation>
			<xs:documentation>
				Wall plane (mapsegs[0]) configuration. Contains wall tiles, door tiles,
				and special marker tiles from the map's first plane.

				Regular walls 1-MaxWallTiles use the hardcoded formula from WL_MAIN.C SetupWalls():
				horizwall[i] = (i-1) * 2    (horizontal/light walls)
				vertwall[i]  = (i-1) * 2 + 1 (vertical/dark walls)

				DoorWall specifies the base VSWAP page for door textures (calculated as
				PMSpriteStart - 8 in original code, but hardcoded here for modding).

				FloorCodeFirst/Last define the range of floor code tiles used for area
				detection (AREATILE through AREATILE+NUMAREAS-1, typically 107-143).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Elevator"/>
				<xs:element ref="Pushable"/>
				<xs:element ref="Exit"/>
				<xs:element ref="Ambush"/>
				<xs:element ref="AltElevator"/>
				<xs:element ref="Door"/>
			</xs:choice>
			<xs:attribute name="MaxWallTiles" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="DoorWall" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="FloorCodeFirst" type="xs:nonNegativeInteger"/>
			<xs:attribute name="FloorCodeLast" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Elevator">
		<xs:annotation>
			<xs:documentation>
				Elevator activation tile. When player uses this tile, triggers level
				completion and elevator sequence. Destination (next level or secret level)
				depends on floor tile player is standing on. (ELEVATORTILE = 21)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pushable">
		<xs:annotation>
			<xs:documentation>
				Pushable wall marker. Walls marked with this tile can be pushed by the
				player to reveal secret areas. (PUSHABLETILE = 98)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Exit">
		<xs:annotation>
			<xs:documentation>
				Victory/exit tile. When player walks onto this tile, triggers end of
				episode/castle victory sequence. (EXITTILE = 99)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Ambush">
		<xs:annotation>
			<xs:documentation>
				Ambush marker tile. During level setup, this tile is removed from the
				tilemap and enemies placed on it are marked with FL_AMBUSH flag, making
				them deaf/inactive until triggered. The floor code from adjacent tiles
				is used to replace this tile. (AMBUSHTILE = 106)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="AltElevator">
		<xs:annotation>
			<xs:documentation>
				Secret level elevator floor tile. When player activates an elevator
				while standing on this tile, triggers transition to secret level
				instead of normal level completion. This tile number is also AREATILE,
				the first floor code. (ALTELEVATORTILE = 107)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Door">
		<xs:annotation>
			<xs:documentation>
				Door type definition from wall plane (mapsegs[0]). Door tiles are 90-101.

				Tile attribute is the base (even) tile number; odd value (Tile+1) is implied
				for opposite orientation (vertical vs horizontal).
				Lock type is calculated as (Tile-90)/2.

				Key attribute specifies required inventory item (omit if no key needed).
				Page is offset from DoorWall (actual page = DoorWall + Page).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Tile" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Key" type="xs:string"/>
			<xs:attribute name="Page" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="OpenSound" type="xs:string"/>
			<xs:attribute name="CloseSound" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<!-- StatInfo (statinfo[] lookup table from original code) -->

	<xs:element name="StatInfo">
		<xs:annotation>
			<xs:documentation>
				Static object type definitions. Maps info plane tile numbers to sprite pages
				and object properties. Equivalent to the statinfo[] array in WL_ACT1.C.
				Contains decorations, pickups, enemy spawners, player start, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ObjectType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="ObjectType">
		<xs:annotation>
			<xs:documentation>
				Map tile object - can be decoration, pickup, enemy spawn, or special marker.
				Replaces Billboard, Pickup, Spawn, Start elements with unified structure.
				Behavior is defined via optional Script element or handled by C# code.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Script" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<!-- Map tile properties -->
			<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>

			<!-- Visual properties -->
			<xs:attribute name="Sprite" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Page" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Palette" type="xs:nonNegativeInteger"/>

			<!-- Physical properties -->
			<xs:attribute name="Walk" type="xs:boolean"/>

			<!-- Pickup properties -->
			<xs:attribute name="Treasure" type="xs:boolean"/>
			<xs:attribute name="Sound" type="xs:string"/>

			<!-- Enemy spawn properties -->
			<xs:attribute name="Actor" type="xs:string"/>
			<xs:attribute name="Direction" type="DirectionType"/>
			<xs:attribute name="Difficulty" type="xs:nonNegativeInteger"/>
			<xs:attribute name="State" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Actor">
		<xs:annotation>
			<xs:documentation>
				Enemy class definition with AI behavior.
				Scripts define complex behavior (onDeath item drops, etc.)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Script" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="HP" type="xs:string"/>
			<xs:attribute name="Reaction" type="xs:string"/>
			<xs:attribute name="Speed" type="xs:integer"/>
			<xs:attribute name="AlertDigiSound" type="xs:string"/>
			<xs:attribute name="Chase" type="xs:string"/>
			<xs:attribute name="Attack" type="xs:string"/>
			<xs:attribute name="Death" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="State">
		<xs:annotation>
			<xs:documentation>
				State machine state for actor AI.
				Scripts can extend state behavior.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Script" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Rotate" type="xs:boolean"/>
			<xs:attribute name="Shape" type="xs:string"/>
			<xs:attribute name="Tics" type="xs:nonNegativeInteger"/>
			<xs:attribute name="Think" type="xs:string"/>
			<xs:attribute name="Act" type="xs:string"/>
			<xs:attribute name="Speed" type="xs:integer"/>
			<xs:attribute name="Next" type="xs:string"/>
			<xs:attribute name="Alive" type="xs:boolean"/>
			<xs:attribute name="Mark" type="xs:boolean"/>
			<xs:attribute name="DigiSound" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<!-- Actors (AI definitions, not plane data) -->

	<xs:element name="Actors">
		<xs:annotation>
			<xs:documentation>
				Enemy AI definitions (actors and states). Not tied to specific map planes,
				these define the behavior and state machines for enemy classes.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Actor"/>
				<xs:element ref="State"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<!-- Sprites -->

	<xs:element name="Sprites">
		<xs:annotation>
			<xs:documentation>
				Sprite definitions. Page is absolute VSWAP page number.
				Sprites begin at PMSpriteStart (read from VSWAP header).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sprite" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Sprite">
		<xs:complexType>
			<xs:attribute name="Page" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Palette" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<!-- Digital Sounds in VSwap -->

	<xs:element name="DigiSounds">
		<xs:annotation>
			<xs:documentation>
				Digital sound data stored in VSWAP after sprites.
				Page numbers are relative to PMSoundStart (read from VSWAP header).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DigiSound" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="Number" type="xs:nonNegativeInteger" use="required"/>
						<xs:attribute name="Name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Palette Section                              -->
	<!-- ============================================ -->

	<xs:element name="Palette">
		<xs:annotation>
			<xs:documentation>
				Palette containing 256 colors in XML format.
				Each Color element specifies a 24-bit RGB color using hex notation.
				The Name attribute is optional and used for alternate palettes.
				The first palette without a Name attribute is the default palette.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Color" minOccurs="256" maxOccurs="256"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Color">
		<xs:annotation>
			<xs:documentation>
				A single color in 24-bit RGB format using hexadecimal notation.
				Format: #RRGGBB (case insensitive)
				Example: #FF0000 for red, #00FF00 for green, #0000FF for blue
				Will be converted to 32-bit RGBA by left-shifting 8 bits and ORing with 0xFF (opaque alpha).
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Hex" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="#[0-9A-Fa-f]{6}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- ============================================ -->
	<!-- Common Types                                 -->
	<!-- ============================================ -->

	<xs:simpleType name="DirectionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
